@use "../abstracts" as *;

body {
  color: var(--color-grey-light-1);
  font-family: 'Roboto', sans-serif;
  font-size: var(--default-font-size);
}

[class^="heading"] {
  color: var(--color-grey-dark-1);
  text-transform:uppercase;
  letter-spacing: -1px;
}

.heading-primary {

}

.heading-secondary {

}

.heading-tertiary {

}

.paragraph {

}

.btn {
  font-weight: 700;
  text-transform:uppercase;
}

#popup-su__button-close{
  font-size: 3.5rem;

}

#sign-up-form input::placeholder{
  color: var(--color-grey-light-1);
}
[id$="feedback"] {
  color: var(--color-red);
}

select:invalid {
  color:var(--color-grey-light-1);
}

