@use "../abstracts" as *;

body {
  color: var(--color-grey-light-1);
  font-family: 'Roboto', sans-serif;
  font-size: var(--default-font-size);
}

[class^="heading"] {
  color: var(--color-grey-dark-1);
}

.heading-primary {

}

.heading-secondary {

}

.heading-tertiary {

}

.paragraph {

}

.btn {
  font-weight: 700;
}