@use "../abstracts" as *;

/*.u-center-text {text-align: center;}

.u-margin-bottom-small {margin-bottom: 1.5rem;}
.u-margin-bottom-medium {margin-bottom: 4rem;}
.u-margin-bottom-big {margin-bottom: 8rem;}
*/

.rounded {
  border-radius: 10px;
}

.rounded-sm {
  border-radius: 5px;
}

.gap-sm-r {
  padding-right: 5rem;
}

.inactive {
  transform: scale(0);
}

.img-highlight {
  border: 1rem solid var(--color-red) !important;
}

.edit-highlight {
  background-color:var(--color-white);
  color: var(--color-black) !important;
}

.grayed-out, .grayed-out--final {
  filter : grayscale(1);
  cursor: initial;
  pointer-events: none;

}

.removed {
  display: none !important;
}

.move-left {
  transform: translateX(-100%) !important;
}

.fadeInOut {
  animation: opacityOn 5s normal forwards;
}

.error {
  color: var(--color-red);
}