@use "../abstracts" as *;
/////////////////
// GRID

.grid, .grid>*{
  padding: 10px 0;
  gap:2rem;
  display:grid;
  width:100%;

  &>*>*{
    display:flex;
    align-items: flex-start;
    flex-direction: column;

  }
}
/////////////////
// Section Header
.header {
  grid-template-columns: 0.25fr 1fr 1fr 0.25fr;
  grid-template-areas: ". logo button .";

  &__logo-box{
    grid-area: logo;

    & img{
      width:3rem;
    }
  }
  &__button-box {
    position: relative;
    flex-direction: row;
    grid-area: button;
    justify-content: flex-end;
    gap: 1.2rem;
    align-items: center;

  }
}

/////////////////
// Section About

.section-about {
  grid-template-columns: 0.25fr 1fr 1fr 0.25fr;
  grid-template-areas: ". cta img shape";


  &__cta{
    grid-area: cta;
    align-items: start;

    &__area{
      flex-direction: initial;
      align-items: center;
    }
  }

  &__img-box {
    grid-area: img;

  }

  &__shape-box {
    grid-area: shape;

  }
}

/////////////////
// Section Qualities

.section-qualities {
  grid-template-columns: 0.25fr 0.5fr 1fr 0.5fr 0.25fr;
  grid-template-areas: "shape img-1 img-2 text .";

  &__shape-box {
    grid-area: shape;
    justify-content: flex-end;

  }

  &__img-box-1 {
    grid-area: img-1;

  }

  &__img-box-2 {
    grid-area: img-2;

  }

  & img {
    height:100%;
  }

  &__text-box {
    grid-area: text;

  }
}

/////////////////
// Section USPs

.section-usps{
  grid-template-columns: 0.25fr 0.5fr 0.5fr 0.5fr 0.5fr 0.25fr;
  grid-template-areas: ". icb-1 icb-2 icb-3 icb-4 .";

}
.icon-box{
  &__bg{
    background-color: var(--color-primary);
    padding:1rem;

  }
  &-1{
    grid-area: icb-1;
  }
  &-2{
    grid-area: icb-2;
  }
  &-3{
    grid-area: icb-3;
  }
  &-4{
    grid-area: icb-4;
  }
}

/////////////////
// Heading PRE ORDER


.custom-heading {
  justify-items: center;
  grid-template-columns: 0.25fr 2fr 0.25fr;
  grid-template-areas:". heading-pre-order .";
  & .heading-secondary {
    grid-area: heading-pre-order;
  }
}


/////////////////
// Section PRE ORDER

.section-custom {
  grid-template-columns: 0.25fr 0.5fr 0.5fr 0.5fr 0.5fr 0.25fr;
  grid-template-areas:
                       "r-h-layout cust-layout cust-layout cust-layout cust-layout ."
                       "r-h-switch cust-switch cust-switch cust-switch cust-switch ."
                       "r-h-extra cust-extra-m cust-extra-m cust-extra-o cust-extra-o ."
                       ". conf-sel-btn conf-sel-btn conf-sel-btn conf-sel-btn.";

}
.row-head{
  padding-left:3rem;
}

.grid__sub-row {
  gap: 2rem;
  flex-direction: row;
  align-items: stretch;
}

#row-head-layout {
  grid-area: r-h-layout;
}

#custom-layout {
  grid-area: cust-layout;
}

#row-head-switch {
  grid-area: r-h-switch;
}

#custom-switch {
  grid-area: cust-switch;
}

#row-head-extra {
  grid-area: r-h-extra;
}

#custom-extra-mouse {
  grid-area: cust-extra-m;
}

#custom-extra-other {
  grid-area: cust-extra-o;
}

#confirm-select-btn {
  grid-area: conf-sel-btn;
  justify-self: center;
}

/////////////////
// Section Footer
.footer_copy-right {
  flex-direction: initial;
  justify-content: center;
}

