@use "../abstracts" as *;

.grid, .grid>*, .grid>*>* {
  display:grid;
  width:100%;

}

.header {
  grid-template-columns: 0.25fr 1fr 1fr 0.25fr;
  grid-template-areas: ". logo button .";

  &__logo-box{
    grid-area: logo;
  }
  &__button-box {
    grid-area: button;
    justify-content: end;
  }
}
