:root {
  --color-primary: #f06718;
  --color-primary-rgb: 240,103,24;
  --color-grey-light-1: #9faec9;
  --color-grey-light-rgb-1: 159, 174, 201;
  --color-grey-light-2: #e7eff2;
  --color-grey-light-rgb-2: 231,239,242;
  --color-grey-dark-1: #152444;
  --color-grey-dark-rgb-1: 21,36,68;
  --color-grey-dark-2: #5b657f;
  --color-grey-dark-rgb-2: 91, 101, 127;
  --color-white: #fff;
  --color-white-rgb: 255, 255, 255;
  --color-black: #000;
  --color-black-rgb: 0, 0, 0;
  --default-font-size: 1.4rem;
  --screen-sm-min: 576px;
  --screen-md-min: 768px;
  --screen-lg-min: 992px;
  --screen-xl-min: 1200px;
}

html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

img {
  object-fit: cover;
  width: 100%;
}

[class^=heading] {
  margin-bottom: 10px;
}

.paragraph, .icon-box__bg {
  margin-bottom: 20px;
}

body {
  color: var(--color-grey-light-1);
  font-family: "Roboto", sans-serif;
  font-size: var(--default-font-size);
}

[class^=heading] {
  color: var(--color-grey-dark-1);
  text-transform: uppercase;
  letter-spacing: -1px;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
}

#popup-su__button-close {
  font-size: 3.5rem;
}

/*.u-center-text {text-align: center;}

.u-margin-bottom-small {margin-bottom: 1.5rem;}
.u-margin-bottom-medium {margin-bottom: 4rem;}
.u-margin-bottom-big {margin-bottom: 8rem;}
*/
.rounded {
  border-radius: 10px;
}

.rounded-sm {
  border-radius: 5px;
}

.gap-sm-r {
  padding-right: 5rem;
}

.btn {
  padding: 1.5rem;
  border: none;
  transition: 0.3s;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(var(--color-black), 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(var(--color-black), 0.2);
}

.btn--orange {
  background-color: var(--color-primary);
  color: var(--color-white);
  margin-right: 1rem;
}

.btn--grey {
  background-color: var(--color-grey-light-2);
  color: var(--color-grey-dark-2);
}

#popup-su__button-close {
  cursor: pointer;
  color: var(--color-grey-dark-1);
  background: none;
  border: none;
  outline: none;
}

[class^=box--rounded] {
  display: block;
  background-color: var(--color-grey-light-2);
  height: 28rem;
  width: 100%;
}

.box--rounded-left {
  border-radius: 15px 0 0 15px;
}

.box--rounded-right {
  border-radius: 0 15px 15px 0;
}

.overlay {
  position: fixed;
  inset: 0;
  opacity: 0;
  transition: 200ms ease-in-out;
  background-color: rgba(var(--color-black-rgb), 0.5);
  pointer-events: none;
}
.overlay--active {
  opacity: 1;
  pointer-events: all;
}

.icon-box__bg {
  background-color: var(--color-primary);
  padding: 1rem;
}

.iconify {
  width: 2rem;
  height: 2rem;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 1000;
  padding: 10rem 15% 10rem 5%;
  background-color: var(--color-white);
  width: 70rem;
}
.popup--active {
  transform: translate(-50%, -50%) scale(1);
}

#tel-number-box, #password-box, #opt-in-box, #submit-box {
  grid-template-columns: 3fr 12fr;
}

#sign-up-form__header, #name-box {
  grid-template-columns: 3fr 6fr 6fr;
}

#birthday-box, #gender-box {
  grid-template-columns: 3fr 4fr 4fr 4fr;
}

#sign-up-form, #sign-up-form > * {
  display: grid;
  gap: 2rem;
}

#sign-up-form {
  width: 100%;
  height: 80%;
}

#sign-up-form__header {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  grid-template-areas: ". form-heading close-btn";
}
#sign-up-form__header > * {
  margin: 0;
}
#sign-up-form__header__heading {
  grid-area: form-heading;
}

#popup-su__button-close {
  grid-area: close-btn;
  justify-self: end;
}

#name-box {
  grid-template-areas: " name-feedback firstn lastn";
}

#name-feedback {
  grid-area: name-feedback;
}

#first-name {
  grid-area: firstn;
}

#last-name {
  grid-area: lastn;
}

#tel-number-box {
  grid-template-areas: "tel-feedback telnr";
}

#tel-number-feedback {
  grid-area: tel-feedback;
}

#tel-number {
  grid-area: telnr;
}

#password-box {
  grid-template-areas: "pswd-feedback pswd";
}

#password-feedback {
  grid-area: pswd-feedback;
}

#password {
  grid-area: pswd;
}

#birthday-box {
  grid-template-areas: "bday-feedback bday-label bday-label bday-label" "bday-feedback day month year";
}

#birthday-feedback {
  grid-area: bday-feedback;
}

#birthday-box__label {
  grid-area: bday-label;
}

#day {
  grid-area: day;
}

#month {
  grid-area: month;
}

#year {
  grid-area: year;
}

#gender-box {
  grid-template-areas: "gender-feedback gender-label gender-label gender-label" "gender-feedback f m d";
}

#gender-feedback {
  grid-area: bday-feedback;
}

#gender-box__label {
  grid-area: gender-label;
}

#female-box {
  grid-area: f;
}

#male-box {
  grid-area: m;
}

#diverse-box {
  grid-area: d;
}

#opt-in-box {
  grid-template-areas: "opt-in-feedback opt-in-text" "opt-in-feedback opt-in-check";
}

#opt-in-feedback {
  grid-area: opt-in-feedback;
}

#opt-in-text {
  grid-area: opt-in-text;
}

#opt-in-box-check {
  grid-area: opt-in-check;
}

#submit-box {
  grid-template-areas: ". submit-btn";
}

#submit {
  grid-area: submit-btn;
}

.grid, .grid > * {
  padding: 10px 0;
  gap: 2rem;
  display: grid;
  width: 100%;
}
.grid > * > *, .grid > * > * > * {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.header {
  grid-template-columns: 0.25fr 1fr 1fr 0.25fr;
  grid-template-areas: ". logo button .";
}
.header__logo-box {
  grid-area: logo;
}
.header__logo-box img {
  width: 3rem;
}
.header__button-box {
  flex-direction: row;
  grid-area: button;
  justify-content: flex-end;
  gap: 1.2rem;
}

.section-about {
  grid-template-columns: 0.25fr 1fr 1fr 0.25fr;
  grid-template-areas: ". cta img shape";
}
.section-about__cta {
  grid-area: cta;
  align-items: start;
}
.section-about__cta__area {
  flex-direction: initial;
  align-items: center;
}
.section-about__img-box {
  grid-area: img;
}
.section-about__shape-box {
  grid-area: shape;
}

.section-qualities {
  grid-template-columns: 0.25fr 0.5fr 1fr 0.5fr 0.25fr;
  grid-template-areas: "shape img-1 img-2 text .";
}
.section-qualities__shape-box {
  grid-area: shape;
  justify-content: flex-end;
}
.section-qualities__img-box-1 {
  grid-area: img-1;
}
.section-qualities__img-box-2 {
  grid-area: img-2;
}
.section-qualities img {
  height: 100%;
}
.section-qualities__text-box {
  grid-area: text;
}

.section-usps {
  grid-template-columns: 0.25fr 0.5fr 0.5fr 0.5fr 0.5fr 0.25fr;
  grid-template-areas: ". icb-1 icb-2 icb-3 icb-4 .";
}

.icon-box__bg {
  background-color: var(--color-primary);
  padding: 1rem;
}
.icon-box-1 {
  grid-area: icb-1;
}
.icon-box-2 {
  grid-area: icb-2;
}
.icon-box-3 {
  grid-area: icb-3;
}
.icon-box-4 {
  grid-area: icb-4;
}

.footer_copy-right {
  flex-direction: initial;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
