@use "../abstracts/index" as *;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

}

body {
  box-sizing: border-box;

}
img {
  object-fit: cover;
  width: 100%;

}

[class^="heading"] {
  margin-bottom: 10px;
}

.paragraph, .icon-box__bg {
  margin-bottom: 20px;
}










