:root {
  // COLORS
  // the rgb versions are necessary for rgba color values
  //https://www.rapidtables.com/convert/color/hex-to-rgb.html - website to convert hex to rgb
    --color-primary: #f06718;
    --color-primary-rgb: 240,103,24;
    //--color-primary-light: ;
    //--color-primary-light-rgb: ;
    //--color-primary-dark: ;
    //--color-primary-dark-rgb: ;

    --color-grey-light-1: #9faec9;
    --color-grey-light-1-rgb: 159, 174, 201;
    --color-grey-light-2: #e7eff2;
    --color-grey-light-2-rgb: 231,239,242;
    --color-grey-dark-1: #152444;
    --color-grey-dark-1-rgb: 21,36,68;
    --color-grey-dark-2: #5b657f;
    --color-grey-dark-2-rgb: 91, 101, 127;

    --color-white: #fff;
    --color-white-rgb: 255, 255, 255;
    --color-black: #000;
    --color-black-rgb: 0, 0, 0;
    --color-red: #600;
    --color-red-rgb: 102,0,0;
    --color-green: #060;
    --color-green-rgb: 0,102,0;


  // BOX SHADOW

    --box-shadow-red: 0 0 4px #811;
    --box-shadow-green: 0 0 4px #188;
    --box-shadow-smooth:
        0 1px 1px rgba(0,0,0,0.12),
        0 2px 2px rgba(0,0,0,0.12),
        0 4px 4px rgba(0,0,0,0.12),
        0 8px 8px rgba(0,0,0,0.12),
        0 16px 16px rgba(0,0,0,0.12);
    --box-shadow-smooth-light:
            0 1px 1px rgba(0,0,0,0.06),
            0 2px 2px rgba(0,0,0,0.06),
            0 4px 4px rgba(0,0,0,0.06),
            0 8px 8px rgba(0,0,0,0.06),
            0 16px 16px rgba(0,0,0,0.06);

  // FONT

    --default-font-size: 1.4rem;


}

    // BREAKPOINTS

        // Small tablets and large smartphones (landscape view)
        $screen-sm-max: 575px;

        // Small tablets (portrait view)
        $screen-md-max: 767px;

        // Tablets and small desktops
        $screen-lg-max: 991px;

        // Large tablets and desktops
        $screen-xl-max: 1199px;


