@use "../abstracts/index" as *;
/////////////////
// GRID


.home-grid, .home-grid>*, .user-grid, .user-grid>* {
  padding: 10px 0;
  gap: 2rem;
  display: grid;
  width: 100%;
}

  .home-grid>*>*{
    display:flex;
    align-items: flex-start;
    flex-direction: column;

  }


/////////////////
// Section Header
.header {
  grid-template-columns: 0.25fr 1fr 1fr 0.25fr;
  grid-template-areas: ". left-box right-box .";

  &__left-box{
    grid-area: left-box;
    flex-direction: row;
    gap: 1rem;

    & img{
      width:4rem;
    }
  }
  &__right-box {
    position: relative;
    flex-direction: row;
    grid-area: right-box;
    justify-content: flex-end;
    gap: 1.2rem;
    align-items: center;

  }
}


/////////////////
// Section About

.section-about {
  grid-template-columns: 0.25fr 1fr 1fr 0.25fr;
  grid-template-areas: ". cta img shape";


  &__cta{
    grid-area: cta;
    align-items: start;

    &__area{
      flex-direction: initial;
      align-items: center;
    }
  }

  &__img-box {
    grid-area: img;

  }

  &__shape-box {
    grid-area: shape;

  }
}

/////////////////
// Section Qualities

.section-qualities {
  grid-template-columns: 0.25fr 0.5fr 1fr 0.5fr 0.25fr;
  grid-template-areas: "shape img-1 img-2 text .";

  &__shape-box {
    grid-area: shape;
    justify-content: flex-end;

  }

  &__img-box-1 {
    grid-area: img-1;

  }

  &__img-box-2 {
    grid-area: img-2;

  }

  & img {
    height:100%;
  }

  &__text-box {
    grid-area: text;

  }
}

/////////////////
// Section USPs

.section-usps{
  grid-template-columns: 0.25fr 0.5fr 0.5fr 0.5fr 0.5fr 0.25fr;
  grid-template-areas: ". icb-1 icb-2 icb-3 icb-4 .";

  @include lg {
    grid-template-areas: ". icb-1 icb-1 icb-2 icb-2 ."
                         ". icb-3 icb-3 icb-4 icb-4 .";
  }

  @include md {
    grid-template-areas: ". icb-1 icb-1 icb-1 icb-1 ."
                         ". icb-2 icb-2 icb-2 icb-2 ."
                         ". icb-3 icb-3 icb-3 icb-3 ."
                         ". icb-4 icb-4 icb-4 icb-4 .";
  }
  &>* {
    @include md {
      align-items: center;
      text-align: center;
    }
  }

}


.icon-box{
  &__bg{
    background-color: var(--color-primary);
    padding:1rem;

  }
  &-1{
    grid-area: icb-1;
  }
  &-2{
    grid-area: icb-2;
  }
  &-3{
    grid-area: icb-3;
  }
  &-4{
    grid-area: icb-4;
  }
}

/////////////////
// Heading PRE ORDER


.custom-heading {
  justify-items: center;
  grid-template-columns: 0.25fr 2fr 0.25fr;
  grid-template-areas:". heading-pre-order .";
  & .heading-secondary {
    grid-area: heading-pre-order;
  }
}


/////////////////
// Section PRE ORDER

.section-custom {
  grid-template-columns: 0.25fr 0.5fr 0.5fr 0.5fr 0.5fr 0.25fr;
  grid-template-areas:
                       "r-h-layout cust-layout cust-layout cust-layout cust-layout ."
                       "r-h-switch cust-switch cust-switch cust-switch cust-switch ."
                       "r-h-extra cust-extra-m cust-extra-m cust-extra-o cust-extra-o ."
                       ". summary summary summary summary .";
}
.row-head{
  padding-left:3rem;
}

.grid__sub-row {
  gap: 2rem;
  flex-direction: row;
  align-items: stretch;
}

#row-head-layout {
  grid-area: r-h-layout;
}

#custom-layout {
  grid-area: cust-layout;
}

#row-head-switch {
  grid-area: r-h-switch;
}

#custom-switch {
  grid-area: cust-switch;
}

#row-head-extra {
  grid-area: r-h-extra;
}

#custom-extra-mouse {
  grid-area: cust-extra-m;
}

#custom-extra-other {
  grid-area: cust-extra-o;
}

.summary-row {
  grid-area: summary;
  justify-self: center;
  align-items: center;
}

/////////////////
// Section Footer
.footer_copy-right {
  display:flex;
  flex-direction: initial;
  justify-content: center;
}

