@use "../abstracts" as *;

.btn {
  padding: 1.5rem;
  border: none;
  transition: .3s;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(var(--color-black), .2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(var(--color-black), .2);
  }

}

.btn--orange {
  background-color: var(--color-primary);
  color: var(--color-white);
  margin-right: 1rem;
}

.btn--grey {
  background-color: var(--color-grey-light-2);
  color: var(--color-grey-dark-2);
}

#popup-su__button-close {
  cursor: pointer;
  color: var(--color-grey-dark-1);
  background: none;
  border: none;
  outline: none;

}
