@use "../abstracts" as *;

.btn {
  padding: 1.5rem;
  border: none;
  transition: .3s;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(var(--color-black), .2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(var(--color-black), .2);
  }


  &--orange {
    @extend .btn;
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  &--gray {
    @extend .btn;
    background-color: var(--color-grey-light-2);
    color: var(--color-grey-dark-2);
  }

  &--blue {
    @extend .btn;
    background-color: var(--color-blue);
    color: var(--color-white);
  }

  &--green {
    @extend .btn;
    background-color: var(--color-green);
    color: var(--color-white);
  }

  &--users {
    @extend .btn;
    background-color: var(--color-grey-light-2);
    border: 0;
    padding: 1rem;
    border-radius: 50px;
  }

}


#popup-su__button-close {
  cursor: pointer;
  color: var(--color-grey-dark-1);
  background: none;
  border: none;
  outline: none;

}

#confirm-select-btn {
  margin-bottom: 1rem;
}
