@use "../abstracts" as *;

.btn {
  padding: 1rem;
  border: none;
  &:link,
  &:visited {

  }

  &:hover {

  }

  &:active {

  }

}

.btn--orange {
  background-color: var(--color-primary);
  color: var(--color-white);
  margin-right: 1rem;
}

.btn--grey {
  background-color: var(--color-grey-light-2);
  color: var(--color-grey-dark-2);
}
